.findOrder {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 400px;
}

.input {
  width: 300px;
  height: 38px;
  padding-left: 10px;
  margin-right: 20px;
  font-size: 16px;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 4px;
}
