.container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(253, 249, 249);
}

button {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 8px 16px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 5px;
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
    box-shadow: var(--box-shadow-button);
    cursor: pointer;
  }
  
button:hover{
    box-shadow: var(--box-shadow-hover)
  }
