.container {
    width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgb(253, 249, 249);
}

button {
    display: flex;
    justify-content: flex-end;
    border: none;
    padding: 8px 16px;
    margin: 0 auto;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: rgba(65, 58, 58, 0.2) 0 0 5px 2px;
    cursor: pointer;
  }
  
button:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 5px 3px;;
  }
