.navigation {
  height: 60px;
  background-color: lightgrey;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
  width: 1200px;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.link {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
