.navigation {
  max-height: 90px;
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0px;
  width: calc(100vw - 100px);
  max-width: 1490px;
}
