.navigation {
  height: 60px;
  background-color: var(--color-bg-secondary);
  color: var(--color-secondary);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0;
  width: 92%;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.main__link {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
}

.link:hover {
  box-shadow: var(--box-shadow);
}

.link {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
}

.link:hover {
  box-shadow: var(--box-shadow);
}
