.links__list {
  display: flex;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

  font-size: 20px;
  font-weight: bold;
  color: var(--color-secondary);
}

.text {
  color: var(--color-secondary);

  &:hover {
    color: rgb(92, 39, 39);
  }

  &:active {
    color: rgb(92, 39, 39);
  }
}

@media (max-width: 1060px) {
  .link {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .link_display {
    display: none;
  }
}
