.footer {
  margin-top: auto;
  width: 100wh;
  color: var(--color-secondary);
  background-image: url('../../assets//images/hamster-breeds20.jpg');
  background-size: cover;

  &__fon {
    background-color: rgba(172, 19, 19, 0.8);
  }
  &__wrapper {
    width: calc(100vw - 100px);
    max-width: 1490px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px 0 20px;
  }

  &__topSide {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: flex-start;
  }

  &__leftSide {
    flex: calc(33.33% - 30px);
    margin: 30px;
  }

  &__centerSide {
    flex: calc(33.33% - 30px);
    margin: 30px;
  }

  &__rightSide {
    flex: calc(33.33% - 30px);
    margin: 30px;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--color-secondary);
    text-transform: uppercase;
  }

  &__text {
    color: var(--color-light-grey);
    line-height: 1.6;
    font-size: 20px;
  }

  &__image {
    width: 360px;
    margin-left: -8px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 520px;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__bottomSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0;
    background-color: rgba(172, 19, 19);
  }

  &__socialMedia {
    ul {
      display: flex;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  li {
    margin-bottom: 12px;
    font-size: 20px;
  }
  a {
    color: var(--color-light-grey);
  }
}
