@import 'modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color-primary: #221c1c;
  --color-bg-primary:  #ffffff;

  --color-secondary: #fff;
  --color-bg-secondary:  #ac1313;

  --box-shadow: 5px 10px 20px 0px #aab2c566;
  --box-shadow-button: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
  --box-shadow-hover: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}


svg {
  margin: 0 10px;
}

/* .colored-toast.swal2-icon-success {
  background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
  background-color: #ffd561 !important;
}

.colored-toast.swal2-icon-info {
  background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
  background-color: #87adbd !important;
}

.colored-toast .swal2-title {
  margin-top: 5px !important;
  margin-bottom: 5px !important;

  font-size: 20px !important;
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-content {
  color: white;
}

.colored-toast .swal2-html-container {
  margin-top: 5px !important;
  margin-bottom: 5px !important;

  font-weight: 500 !important;
  font-size: 16px !important;
  color: #2c2c2c;
} */