
:root {
    --color-primary: #221c1c;
    --color-bg-primary:  #ffffff;
  
    --color-secondary: #fff;
    --color-bg-secondary:  #ac1313;
    --color-secondary-grey:  #f6f6f6;
  
    --box-shadow: 5px 10px 20px 0px #aab2c566;
    --box-shadow-button: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
    --box-shadow-hover: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
